<section class="hero is-fullheight">
    <header>
        <nav class="nav">
            <ul class="nav__items">
                <li class="nav__items--logo"><a routerLink="/" role="button">GENUS</a></li>
                <li class="nav__items--item"><a routerLink="/" (click)="logout()" role="button">SAIR</a></li>
            </ul> 
        </nav>
    </header>
    <div class="main">
        <h1 class="main__text--title">Genus Eventos</h1>
        <div class="btns-acoes">
            <div class="acao">
                <i class="fa-solid fa-user"></i>
                <a class="btn-acao" routerLink="./clientes">Clientes</a>
            </div>
            <div class="acao">
                <i class="fa-solid fa-address-card"></i>
                <a class="btn-acao" routerLink="./profissionais">Profissionais</a>
            </div>
            <div class="acao">
                <i class="fa-solid fa-handshake"></i>

                <a class="btn-acao" routerLink="./eventos">Eventos</a>
            </div>
        </div>
    </div>
</section>