<section class="hero is-fullheight">
        <header> 
            <nav class="nav">
                <ul class="nav__items">
                    <li class="nav__items--logo"><a routerLink="/" role="button">GENUS</a></li>
                    <li class="nav__items--item"><a href="#" role="button">Solicitar Orçamento</a></li>
                    <li class="nav__items--item"><a href="#" role="button">Trabalhe com a Genus</a></li>
                    <li class="nav__items--item"><a routerLink="/conta" role="button">Entrar</a></li>
                </ul>
                <div class="nav__text">
                    <h1 class="nav__text--title">Genus Eventos</h1>
                    <p class="nav__text--paragraph">A escolha certa para o seu evento</p>
                </div>
            </nav>
        </header>
</section>