.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin: 4rem 0;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin: .5rem 0;
}

input {
    font-family: "Poppins", sans-serif;
    width: 500px;
    height: 50px;
    padding: 1rem;
    background-color: #26474622;
    border: none;
    font-size: 1rem;
    color: grey;
}

::-webkit-input-placeholder {
    /* Edge */
    color: #26474662;
    font-family: "Poppins", sans-serif;
;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #26474662;
    font-family: "Poppins", sans-serif;
;
}

::placeholder {
    color: #26474662;
    font-family: "Poppins", sans-serif;
;
}

.form-acoes {
    text-align: center;
}

.btn {
    font-family: "Poppins", sans-serif;
    width: 150px;
    height: 40px;
    margin-inline: .5rem;
    border: none;
    cursor: pointer;
    border-radius: .4rem; 
    margin-top: 1rem;
}

.btn-submit {
    background-color: #264746;
    color: white;
}

.btn-submit:hover {
    background-color: #286361;
}

p {
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
}

p a {
    color: hsla(161, 97%, 47%, 0.841);
    text-transform: uppercase;
    font-weight: 600;
    transition: .1s ease-in-out;

}

p a:hover {
    color: hsl(161, 100%, 65%);

}

.dados {
    display: flex;
    gap: 3rem;
}


