<app-header></app-header>
<div class="container">
    <h1>Clientes</h1>
    <div class="novo-field">
        <a class="btn-novo btn-cliente" role="button" routerLink="./novo"><i class="fa fa-plus"></i> Novo Cliente</a>
        <div class="searchbar">
            <input class="search_input" type="text" name="termoDeBusca" placeholder="Pesquisar cliente...">
            <div class="search_icon"><i class="fas fa-search"></i></div>
        </div>
    </div>
    <div class="table">
        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th style="text-align: center;">Ações</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.nome}}</td>
                        <td>{{cliente.email}}</td>
                        <td style="text-align: center;">
                            <button class="btn-acao btn-editar"><a [routerLink]="['/administrador/clientes/editar', cliente.id]">Editar</a></button>
                            <button class="btn-acao btn-excluir"><a (click)="removerCliente($event, cliente)">Excluir</a></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>