<section class="hero is-fullheight">
    <div class="container">
        <h1>Criar Conta</h1>
        <form class="form">
            <div class="dados">
                <div class="dados-pessoais">
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="Nome Completo">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="CPF">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="email" placeholder="Email">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="tel" placeholder="Telefone">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Senha">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Confirmar Senha">
                        </p>
                    </div>
                </div>
                <div class="dados-endereco">
                    <div class="field">
                        <p class="control ctl-cep">
                            <input class="input input-cep" type="text" placeholder="CEP">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="text" placeholder="Rua">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="email" placeholder="Numero">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="tel" placeholder="Complemento">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Bairro">
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <input class="input" type="password" placeholder="Cidade">
                        </p>
                    </div>
                </div>
            </div>
            <button class="btn-form" type="submit">Criar Conta</button>
            <p>Já possuí uma conta? Faça o<a routerLink="/conta/login"> Login</a></p>
        </form>
    </div>
</section>