:host ::ng-deep .nav {
    background-color: #4E2A84;
}

:host ::ng-deep .nav a:hover {
    color: #9876ca;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin: 4rem 0;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    margin: .5rem 0;
}

input {
    font-family: "Poppins", sans-serif;
    width: 500px;
    height: 50px;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    color: grey;
    background-color: #26474622;
    
}

select {
    font-family: "Poppins", sans-serif;
    width: 500px;
}

label {
    font-family: "Poppins", sans-serif;
    font-size: .9rem;
}

.form-acoes {
    text-align: center;
}

.btn {
    font-family: "Poppins", sans-serif;
    width: 150px;
    height: 40px;
    margin-inline: .5rem;
    border: none;
    cursor: pointer;
    border-radius: .4rem; 
    margin-top: 1rem;
}

.btn-submit {
    background-color: #4E2A84;
    color: white;
}

.btn-submit:hover {
    background-color: #6932bb;
}

p {
    color: white;
    margin-top: 1rem;
    font-size: 1.5rem;
}

p a {
    color: hsla(161, 97%, 47%, 0.841);
    text-transform: uppercase;
    font-weight: 600;
    transition: .1s ease-in-out;

}

p a:hover {
    color: hsl(161, 100%, 65%);

}

.dados {
    display: flex;
    gap: 10rem;
}