<app-header></app-header>
<div class="container">
    <h1>Novo Profissional</h1>
    <form class="form" #formProfissional="ngForm">
        <div class="dados">
            <div class="dados-pessoais">
                <h2>Dados Pessoais</h2>
                <div class="field">
                    <p class="control">
                        <input class="input" name="nome" type="text"  placeholder="Nome Completo" [(ngModel)]="profissional.nome" #nome="ngModel">
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" name="cpf" type="text" [(ngModel)]="profissional.cpf" #cpf="ngModel" mask="000.000.000-00" placeholder="CPF" required>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" name="email" type="email" [(ngModel)]="profissional.email" #email="ngModel" placeholder="Email" required>
                    </p>
                </div>
                <div class="field">
                    <p class="control">
                        <input class="input" name="telefone" mask="(00) 00000-0000" type="tel" [(ngModel)]="profissional.telefone" #telefone="ngModel" placeholder="Telefone" required>
                    </p>
                </div>
                <div class="control">
                    <label class="label" for="especialidade">Especialidade</label>
                    <div class="select">
                        <select name="descricao" id="descricao" [(ngModel)]="especialidade.descricao" #descricao="ngModel">
                            <option *ngFor="let especialidade of especialidades" [value]="especialidade.descricao">{{especialidade.descricao}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-acoes">
            <button class="btn btn-submit" (click)="salvarProfissional()">Salvar</button>
            <button class="btn btn-voltar" routerLink="/administrador/profissionais">Voltar</button>
        </div>
    </form>
</div>
