<nav class="nav">
    <ul class="nav__items">
        <li class="nav__items--logo"><a routerLink="/administrador" role="button">GENUS</a></li>
        <li class="nav__items--item"><a routerLink="/administrador/clientes" role="button">CLIENTES</a></li>
        <li class="nav__items--item"><a routerLink="/administrador/funcionarios" role="button">FUNCIONÁRIOS</a></li>
        <li class="nav__items--item"><a routerLink="/administrador/eventos" role="button">EVENTOS</a></li>
        <li class="nav__items--logout"><a routerLink="/" role="button">SAIR</a></li>
    </ul>
</nav>
