<h1 class="title">Bem vindo</h1>
<p>{{clienteNome}}</p>
<main>
    <section class="card">
        <header class="card-header">
            <p class="card-header-title">Realizar Orçamento</p>
        </header>
        <div class="card-content">
            <div class="content"> 
                <form action="">

                </form> 
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header">
            <p class="card-header-title">Eventos Confirmados</p>
        </header>
        <div class="card-content">
            <div class="content">
                <p>Casamento - Dia 02/05</p>
                <p>Inicio: 16H - Fim: 04:00H</p>
                <h3>Serviços</h3>
                <p>Refeiçao | Música</p>
                <h3>Materiais</h3>
                <p>Cadeira - 90 unidades</p>
                <p>Mesas - 40 unidades</p>
                <p>Pratos - 90 unidades</p>
            </div>
        </div>
    </section>
    <section class="card">
        <header class="card-header">
            <p class="card-header-title">Informaçoes da Conta</p>
        </header>
        <div class="card-content">
            <div class="content">
                <h3>Dados Pessoais</h3>
                <p>Nome: {{clienteNome}}</p>
                <p>CPF: {{clienteCpf}}</p>
                <p>Email: {{clienteEmail}}</p>
                <p>Telefone: {{clienteTelefone}}</p>
                <h3>Endereço</h3>
                <p>Rua: Rua desembargador Westphalen Nº 33</p>
                <p>Bairro: Centro</p>
                <p>Cidade/UF: Curitiba/PR</p>
                <p>CEP: 80010-110</p>
            </div>
        </div>
    </section>
</main>
